<main class="w-screen h-screen grid grid-cols-1 lg:grid-cols-2">
    <section class="place-items-center  bg-primary-gradient  hidden lg:grid">
        <img src="assets/images/logo-change-password.svg" class="w-full" alt="Phone image" />
        <small><a href="https://storyset.com/illustration/reset-password/rafiki"
                class="text-gray-700 dark:text-gray-300">Reset Password illustrations by
                Storyset</a></small>
    </section>
    <section class="grid place-items-center bg-white dark:bg-slate-700">
        <div class="max-w-lg lg:w-10/12 ">
            <header class="mb-6 flex justify-center">
                <img src="assets/images/logo.svg" alt="Sky-Scrapper" width="55" height="55" class="rounded-full" />
                <p class="text-gray-700 text-lg dark:text-gray-300">Sky Scrapper</p>
            </header>
            <form class="p-6 bg-white dark:bg-slate-700 rounded-md" [formGroup]="changePasswordFrom">
                <div class="form-group">
                    <label for="email" class="dark:text-gray-400">Contraseña Actual</label>
                    <input class="w-full" type="password" placeholder="Contraseña Actual"
                        formControlName="oldPassword" />
                </div>
                <div class="form-group  w-full ">
                    <label for="password" class="dark:text-gray-400">Contraseña Nueva</label>
                    <input class="w-full" type="password" placeholder="Contraseña Nueva"
                        formControlName="newPassword" />
                </div>
                <footer class="flex  justify-between  space-x-4 mt-4">
                    <button type="button"
                        class="flex w-full items-center justify-center rounded-md    bg-slate-200	  px-4 py-2 text-sm font-medium text-indigo-600 shadow-sm hover:bg-slate-300"
                        routerLink="/">Cancelar</button>
                    <button type="button" (click)="changePassword()" [disabled]="changePasswordFrom.invalid"
                        class="btn flex w-full  cursor-pointer  justify-center inline-block  rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700">
                        Cambiar
                    </button>
                </footer>
            </form>
        </div>
    </section>
</main>