<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-gray-200 pb-4">Nosotros</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300">Sky Scrapper nacio como un proyecto
                de aprendizaje sobre scrapping para comparar precios de las principales tiendas de mangas de Perú ,
                haciendo uso de tecnologias modernas como Angular para el desarrollo FrontEnd y NestJS para el
                desarrollo BackEnd haciendo uso de una base de datos NO SQL como MongoDB para un mejor performance de
                los datos obtenidos y generación de graficos</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="assets/images/about.svg" alt="about" />
        </div>
    </div>
</div>