.home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 93.5vh;
  background-image: url("../../../../../../assets/images/slider-1.webp");
}

.landing {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 93.5vh;
  background-image: url("../../../../../../assets/images/slider-0.webp");
}
