<div class="relative overflow-hidden bg-white  dark:bg-slate-700 feature-section fadeInDown animated">
    <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
        <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
            <div class="sm:max-w-lg">
                <h1 class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Los Mejores Precios En
                    Mangas</h1>
                <p class="mt-4 text-xl text-gray-500">Comparador de los mejores precios de mangas en Perú encontrara
                    diversas
                    historias.</p>
            </div>
            <div>
                <div class="mt-10" *ngIf="listBooks[0]?.image">
                    <!-- Decorative image grid -->
                    <div aria-hidden="true"
                        class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
                        <div
                            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                            <div class="flex items-center space-x-6 lg:space-x-8">
                                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                    <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                                        <img [ngSrc]="listBooks[0]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                                        <img [ngSrc]="listBooks[1]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                </div>
                                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                                        <img [ngSrc]="listBooks[2]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                                        <img [ngSrc]="listBooks[3]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                                        <img [ngSrc]="listBooks[4]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                </div>
                                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                                        <img [ngSrc]="listBooks[5]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg">
                                        <img [ngSrc]="listBooks[6]?.image" alt="" height="100" width="100"
                                            class="h-full w-full object-cover object-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a [routerLink]="['search-book']"
                        class="inline-block rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700">Explorar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>