<section class="text-gray-600 body-font" [formGroup]="searchBookForm">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">


        <div class="flex w-full justify-center items-end    max-md:flex-wrap">
            <div class="flex relative  md:mr-4 lg:w-full max-md:ml-3 max-md:mr-3 xl:w-full md:w-full text-left w-full ">
                <input type="search" placeholder="Busca por ISBN o Titulo" formControlName="search"
                    class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out dark:text-gray-500 dark:focus:text-white">
            </div>

            <div class="flex items-center  max-md:pt-4 max-md:ml-3 max-md:mr-3 max-md:w-full  ">
                <select formControlName="order"
                    class="max-md:w-full rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                    <option [value]="1">Menor Precio</option>
                    <option [value]="-1">Mayor Precio</option>
                </select>
            </div>
        </div>


    </div>
</section>





<app-books *ngIf="isContentLoaded ; else contentLoad " [listBooks]="listBooks" [paginationMeta]="paginationMeta"
    (pageChange)="onPageChange($event)"></app-books>


<div class="flex justify-center items-center text-center flex-wrap h-full g-6 text-gray-800"
    *ngIf="isContentLoaded && paginationMeta?.pageCount == 0 ">
    <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0 pt-16">
        <p class="text-gray-600 dark:text-gray-300">No se encontro resultados para su busqueda , vuelta intentarlo</p>
        <img src="assets/images/nothing.svg" class="w-full" alt="People illustrations" />

    </div>
</div>

<ng-template #contentLoad>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8" style="padding-top: 0px;">

        <ngx-skeleton-loader count="16" appearance="circle" animation="pulse" class="search-book-skeleton" [theme]="{
                'width.px': 265,
                'height.px': 385,
                'border-radius': '10px',
                'margin-top': '2.5em',
                'margin-right': '2em' }">
        </ngx-skeleton-loader>
    </div>
</ng-template>