<footer class="text-gray-600 body-font" style="height: 50px;">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
      href="https://github.com/SkyZeroZx" rel="noopener noreferrer" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl text-indigo-500">Sky Scrapper</span>
    </a>
    <p class="text-sm text-indigo-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© {{ date |
      date: "yyyy" }} Sky Scrapper —
      <a href="https://github.com/SkyZeroZx" class="text-indigo-600 ml-1" rel="noopener noreferrer"
        aria-label="Read more in github" target="_blank">@SkyZeroZx</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">


      <div class="ml-3 ">
        <a href="https://github.com/SkyZeroZx" rel="noopener noreferrer" target="_blank"
          aria-label="Read more in the repository github">
          <i class="fa-brands fa-github fa-lg" style="color: #636ced !important;"></i>
        </a>
      </div>

      <a class="ml-3 text-indigo-500" aria-label="view linkedin"
        href="https://www.linkedin.com/in/jaime-burgos-tejada-a45697203/" rel="noopener noreferrer" target="_blank">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
          class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
          </path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>